html, body {
    margin: 0;
    padding: 0;
  }
  
.topFixedBanner{
    background-image: url("../img/groomingdog.jpg");
    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topBannerOverlay{
    position: absolute;
    min-height: 750px;
    width: 100%;
    background: rgb(0,0,0,0.7);
}

.topContent{
    margin-top: 20em;
}

.topTitle{
    font-family: 'Montserrat' , sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
}

.topSubTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
}